{% extends "master.html.twig" %}

{% block title %}Category {% if isEditing %}update{% else %}add{% endif %}{% endblock %}

{% block content %}  
    
     <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
            <div class="container">

                <div class="col-sm-6 col-md-8 col-lg-9">
                    <div class="callout-text font-alt">
                        <h4 style="margin-top: 0px; ">

                            <div class="row">
                               <p>Category {% if isEditing %}updated{% else %}added{% endif %}.
        <a href="/admin/categories/list">Click to continue</a>.</p>
                            </div>
                           
                    </div>
                </div>
            </div>

        </section>
    </div>
    
    
    
    
{% endblock %}