{% extends "master.html.twig" %}

{% block title %}Category delete{% endblock %}

{% block content %}    
    <p>Category deleted. <a href="/admin/categories/list">Click to continue</a>.</p>
{% endblock %}