{% extends "master.html.twig" %}

{% block title %}Category {% if isEditing %}edit{% else %}add{% endif %}{% endblock %}

{% block content %}
    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

     <form method="post" enctype="multipart/form-data">
         
        Name: <input type="text" name="categoryName" value="{{v.categoryName}}"><br>
        Description: <textarea name="description">{{v.description}}</textarea><br>
        <input type="file" name="categoryImage" >
        <input type="submit" value="{% if isEditing %}Update{% else %}Add{% endif %} category">
    </form>

{% endblock %}