{% extends "master.html.twig" %}

{% block title %}Confirm delete{% endblock %}

{% block content %}
    <p><b>Are you sure you want to delete this product?</b></p>
    <form action="/admin/products/list" style="display: inline;">
        <input type="submit" value="Cancel">
    </form>
    {# action not requried since we're already on URL looking like
        action="/admin/products/delete/{{p.id}}" #}
    <form method="post"  style="display: inline;">
        <input type="hidden" name="confirmed" value="true">
        <input type="submit" value="Delete">
    </form>
    <div>
        <p>Name: {{p.name}}</p>
        <p>Description: {{p.description}}</p>
        <p>Name: {{p.price}}</p>
        <img src="">
    </div>


{% endblock %}