{% extends "master.html.twig" %}

{% block title %}Category {% if isEditing %}update{% else %}add{% endif %}{% endblock %}

{% block content %}    
    <p>Category {% if isEditing %}updated{% else %}added{% endif %}.
        <a href="/admin/categories/list">Click to continue</a>.</p>
{% endblock %}