{% extends "master.html.twig" %}

{% block title %}Internal error{% endblock %}

{% block content %}


    <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
            <div class="container">

                <div class="col-sm-6 col-md-8 col-lg-9">
                    <div class="callout-text font-alt">
                        <h4 style="margin-top: 0px; ">


                            <div>
                                <p>Internal error occurred, we're very sorry.
                                    Our team of coding ninjas has been notified
                                    and is already working on the problem.</p>
                                <p><a href="/">Click to continue</a></p>
                                <img src="/images/ninja.png">
                            </div>
                    </div>
                </div>
            </div>

        </section>
    </div>




{% endblock %}