{% extends "master.html.twig" %}

{% block title %}Profile Picture delete{% endblock %}

{% block content %}    
    
    <p>Internal Error Occurred, we're sorry.
        Our team of coding ninjas has been notified
        and is already working on this problem
        <a href="/">Click to continue</a>.</p>
    <img src="/images/ninja.png">
    
{% endblock %}