{% extends "master.html.twig" %}

{% block title %}Index{% endblock %}
{% block content %} 

    <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
            <div class="container">
                <div class="row">


                    {% block UserIDentification %}

                        {% if userSession %}
                            <p>Hello {{ userSession.name }}, You are Logged in.
                                You may <a href="/logout">logout</a></p>
                            {% else %}
                            <p>You're not logged in. You may <a href="/register">Register</a>
                                or <a href="/login">Login</a>.</p>
                            {% endif %}

                    {% endblock %}
                </div>
                 <section class="home-section bg-dark " id="home" data-background="assets/images/section-11.jpg">
        <div class="titan-caption">
          <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div>
          <a class="section-scroll btn btn-border-w btn-round" href="../about">Learn more About What we do</a>
          </div>
        </div>
      </section>
      <div class="main">
     
              
                <div class="col-sm-6 col-md-8 col-lg-9">
                    <div class="callout-text font-alt">
                        <h4 style="margin-top: 0px; ">
 </div>
                    </div>
                </div>
            </div>

        </section>
    </div>



{% endblock %}