{% extends "master.html.twig" %}

{% block title %}Index{% endblock %}
{% block content %} 

    <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
            <div class="container">
                <div class="row">


                    {% block UserIDentification %}

                        {% if userSession %}
                            <p>Hello {{ userSession.name }}, You are Logged in.
                                You may <a href="/logout">logout</a></p>
                            {% else %}
                            <p>You're not logged in. You may <a href="/register">Register</a>
                                or <a href="/login">Login</a>.</p>
                            {% endif %}

                    {% endblock %}
                </div>
                <section class="module bg-dark-30" data-background="assets/images/section-4.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h1 class="module-title font-alt mb-0">Digital Marketing Forum</h1>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="col-sm-6 col-md-8 col-lg-9">
                    <div class="callout-text font-alt">
                        <h4 style="margin-top: 0px; ">

                    </div>
                </div>
            </div>

        </section>
    </div>



{% endblock %}