{% extends "master.html.twig" %}

{% block title %}Login successful{% endblock %}

{% block content %}

    <div class="message"><br />

    

<p>Login successful, <a href="/categories">click to continue</a>.</p>

{% endblock %}