{% extends "master.html.twig" %}

{% block title %}Login successful{% endblock %}

{% block content %}
<<<<<<< HEAD
    <div class="message"><br />
=======
    
>>>>>>> c1b123632b2127ce755e83f8bfd955c86f0cccfe
<p>Login successful, <a href="/">click to continue</a>.</p>

{% endblock %}