{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %}Logout{% endblock %}

{% block content %}
    <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="callout-text font-alt">
                            <h4 style="margin-top: 0px; ">

                            <p>You've been logged out, <a href="/">click to continue</a>.</p>
                                
                                                           
                                

                </div>
            </div>
              
        </section>
    </div>
    {% endblock %}