<!DOCTYPE html>
<html>
    <head>
        <link href="/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset="UTF-8">
        <title>{% block title %}Default{% endblock %}</title>
        {% block headextra %}{% endblock %}
    </head>
    <body>
        <div id="centeredContent">
            {% block content %} hello moj{% endblock %}
        </div>
        <div class="foot">Footer</div>
    </body>
</html>