<!DOCTYPE html>
<html>
    <head>
        <link href="/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <title>{% block title %}Default{% endblock %}</title>
        {% block headextra %}{% endblock %}
    </head>
    <body>
        <div id="centeredContent">
          {% if userSession %}
                <p>Hello {{ userSession.name }}, You are Logged in.
                    You may <a href="/logout">logout</a></p>
            {% else %}
                <p>You're not logged in. You may <a href="/register">Register</a>
                or <a href="/login">Login</a>.</p>
            {% endif %}
                
            {% block content %}{% endblock %}
        </div>
        <div class="foot">Footer</div>
    </body>
</html>