{% extends "master.html.twig" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}
    
    <p>Your password has been reset <a href="/login">Click to login</a>.</p>
    
{% endblock %}