{% extends "master.html.twig" %}


{% block title %}Forgotten Password{% endblock %}

{% block content %}

    <p>Email with password reset code was sent. please allow a few minutes for it 
    to arrive. if you can't find it please check your spam folder. The reset request will expire in 1 hour.
    <a href="/"> click to continue</a></p>
    
  
{% endblock %}