{% extends "master.html.twig" %}

{% block title %}Token expired{% endblock %}

{% block content %}
    
    <p>Password reset token invalid, not found, or expired.
        <a href="/">Click to continue</a>.</p>
    
{% endblock %}