{# warning = this is for an email ...not an HTML page #}

<html>
    <body>
        <h1>Password reset request</h1>
        <p>Hi {{name}}</p>
         <p>You Have requested password reset.</p>
         <p>click on <a href="{{url}}"> this link</a>  to reset your pawssword or paste  the  following URL </p>
    <p> {{ url}}</p>
    </body>
</html>
