{% extends "master.html.twig" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}
    
    <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
            <div class="container">
             
                <div class="col-sm-6 col-md-8 col-lg-9">
                    <div class="callout-text font-alt">
                        <h4 style="margin-top: 0px; ">


                            <div>
                                 <p>Your password has been reset <a href="/login">Click to login</a>.</p>
                            </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
   
    {% endblock %}