{% extends "master.html.twig" %}

{% block title %}Confirm delete{% endblock %}

{% block content %}




    <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
            <div class="container">
                <div class="row">


                    {% block UserIDentification %}

                        {% if userSession %}
                            <p>Hello {{ userSession.name }}, You are Logged in.
                                You may <a href="/logout">logout</a></p>
                            {% else %}
                            <p>You're not logged in. You may <a href="/register">Register</a>
                                or <a href="/login">Login</a>.</p>
                            {% endif %}

                    {% endblock %}
                </div>
                <div >
                    <p><b>Are you sure you want to delete this post?</b></p>
                    <button onclick="window.location.href = '/newposts'">Cancel</button>

                    <form method="post"  style="display: inline;">
                        <input type="hidden" name="confirmed" value="true">
                        <input type="submit" value="Delete">
                    </form>
                    <div>
                        <p>Title: {{p.title}}</p>
                        <p>Date Posted: {{p.datePosted}}</p>

                    </div>


                </div>
            </div>

        </section>
    </div>



{% endblock %}


