{% extends "master.html.twig" %}

{% block title %}Confirm delete{% endblock %}

{% block content %}
    <p><b>Are you sure you want to delete this post?</b></p>
    <button onclick="window.location.href='/'">Cancel</button>
  
    <form method="post"  style="display: inline;">
        <input type="hidden" name="confirmed" value="true">
        <input type="submit" value="Delete">
    </form>
    <div>
        <p>Title: {{post.title}}</p>
        <p>Date Posted: {{post.datePosted}}</p>
       
    </div>


{% endblock %}